* {
    font-family: 'Clash Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


.btn {
    font-weight: 500;
    padding: 18px 32px;
    gap: 10px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
    outline: none;
}

.btn.primary {
    background-color: #316FAF;
    color: #FFFFFF;
}

.btn.secondary {
    background-color: #FEFEFE;
    border: 1px solid #D3E0EB;
}

.btn.primary:hover:active {
    background-color: #16395C;
}

.btn.primary:hover {
    background-color: #215183;
}

.btn.secondary:hover {
    color: #D3E0EB;
}

.btn.secondary:hover:active {
    color: #BFD2E6;
    border-color: #BFD2E6;
}

#container {
    width: 100%;
    position: absolute;
    height: 100%;
}

#logo, #contact-btn {
    display: flex;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px 80px;
    border-bottom: 1px solid #EBF3FA;
    gap: 10px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#nav-bar {
    gap: 10px;
}

#nav-list {
    list-style-type: none;
    padding: 3px 0px;
    display: flex;
    gap: 28px;
}

.nav-item {
    gap: 2px;
    font-weight: 500;
    color: #11273D;
    cursor: pointer;
    transition: .2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a:active {
    color: #316FAF;
}

.nav-item:hover {
    color: #4D4D4D;
}

.nav-item:hover:active {
    color: #5D6F80;
}

.active-href {
    color: #316FAF;
}

#hero {
    padding: 80px 120px 80px 120px;
    height: min-content;
    position: relative;
    gap: 10px;
}

#hero-container {
    gap: 20px;
}

#badge {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    color: #11273D;
    line-height: 120%;
    font-size: 75px;
}

#badge-text {
    font-family: 'Instrument Sans', sans-serif;
    line-height: 160%;
    font-size: 18px;
    font-style: normal;
    width: 50%;
    color: #4D4D4D;
}

#hero-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 20px;
}


#meet-btn {
    gap: 10px;
}

#investments-section {
    display: flex;
    justify-content: center;
    padding: 0px 40px 80px 40px;
    gap: 10px;
}

#investments-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#upper-text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 80%;
    font-size: 42px;
    font-weight: 500;
    line-height: 120%;
}

#bottom-text {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    width: 60%;
}

#slider-section {
    padding: 0 80px;
    gap: 10px;
}

#slider-container {
    position: relative;
    display: flex;
    border: 1px solid #D3E0EB;
    border-radius: 14px;
    gap: 32px;
    overflow: hidden;
}

#slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #11273D;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background-color: #FFFFFF;
    transition: .2s ease-in-out;
}

.arrow-btn.prev-btn img {
    transform: rotate(180deg)
}

.arrow-btn:hover {
    border-color: #5D6F80;
}

.arrow-btn:hover {
    border-color: #E3E3E3;
}

.arrow-btn:hover img {
    opacity: .6;
}

.arrow-btn:hover:active img {
    opacity: .4;
}

.slider-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 14px 14px 0px;
    opacity: 0;
    transition: .2s ease-in-out;
}

.slider-photo.active {
    display: block;
    opacity: 1;
}

#left-side {
    padding: 36px;
}

#feature-box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #11273D;
}

#heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
}

#paragraph {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #4D4D4D;
}

#button-section {
    padding-top: 32px;
}

#slider-arrows {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
}

.slider-photos {
    object-fit: fill;
}

#guide-heading {
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    padding: 80px;
    color: #11273D;
    gap: 10px;
}

#guide-section {
    padding: 0 80px 80px 80px;
    gap: 10px;
}

#guide-section-container {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 32px;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #D3E0EB;
    border-radius: 12px;
    padding: 24px;
}

.box-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    padding-top: 20px;
}

.btn-box {
    padding-top: 32px;
}

#guides-ref-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px 80px 80px;
}

#contact-section {
    padding: 80px;
    background-color: #ECF4FA;
}

#contact-section-container  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-heading {
    padding-bottom: 20px;
}

#contact-heading-text {
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: #F6FBFF;
    padding: 46px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    gap: 42px;
}

#form-heading {
    color: #11273D;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

#contact-form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 3;
    gap: 20px;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -2%;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-input, #message-input {
    border: 1px solid #D3E0EB;
    border-radius: 8px;
    padding: 0 12px;
    height: 50px;
    font-family: 'Instruments Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -2%;
    color: #4D4D4D;
    outline: none;
}

.text-input:focus, #message-input:focus {
    outline: 1px solid #316FAF;
}

.text-input:disabled, #message-input:disabled {
    background-color: #FFFFFF;
    border-color: #EBF3FA;
    color: #BFD2E6;
}

.text-input:disabled::placeholder, #message-input:disabled::placeholder {
    color: #BFD2E6;
}

.message-container {
    grid-column: 1 / -1;
}

#message-input {
    height: 152px;
    padding: 12px;
}

.rules {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 7px;
}

.rules-radio {
    width: 20px;
    height: 20px;
    align-self: flex-start;
}

.rules-label {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    line-height: 180%;
    letter-spacing: -2%;
    text-align: justify;
    color: #4D4D4D;
    flex: 1;
}

.send-btn{
    width: max-content;
}

#footer-section {
    padding: 20px 80px 40px;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer-text {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #4D4D4D;
}

.info {
    font-size: 10px;
    text-wrap: pretty;
    text-align: center;
    width: 60%;
}

@media only screen and (max-width: 600px) {
    #container {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        font-size: 1.5rem;
    }

    #nav {
        padding: 1.5rem;
        position: sticky;
        flex-direction: column;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        gap: 16px;
    }

    #nav-list.active {
        display: flex;
    }

    .hamburger {
        position: absolute;
        display: block;
        left: 47.5%;
        top: .5rem;
    }

    #logo {
        position: absolute;
        left: 5%;
        top: 1rem;
    }

    .btn.contact {
        position: absolute;
        right: 0;
        top: .2rem;
        transform: scale(80%);
    }

    #hero {
        padding: 1.5rem;
    }

    .btn {
        padding: 0.8rem;
    }

    #badge {
        font-size: 2rem;
    }

    #badge-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #investments-section {
        padding: 1.5rem;
    }

    #investments-heading {
        display: block;
    }

    #upper-text {
        font-size: 2rem;
    }

    #bottom-text {
        width: 100%;
        text-align: left;
    }

    #slider-section {
        padding: 0;
        width: 100%;
        height: max-content;
    }

    #slider-container {
        padding: 0;
        font-size: 2rem;
        flex-direction: column;
        height: max-content;
        overflow: visible;
    }

    #left-side {
        position: relative;
        height: max-content;
        padding: 1.5rem;
    }

    #slider-arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 8vh;
        z-index: 10;
        opacity: .8;
    }

    #slider {
        position: absolute;
        top: 80%;
        opacity: 1;
    }

    #guide-heading {
        position: relative;
        font-size: 2rem;
        padding: 1.5rem;
        margin-top: 50%;
    }

    #guide-section {
        padding: 1.5rem;
    }

    #guide-section-container {
        display: block;
        padding: 0;
    }

    .box {
        margin-bottom: 1.5rem;
        border: none;
        border-bottom: 1px solid #D3E0EB;
    }

    #contact-section {
        padding: 1.5rem;
    }
    
    #contact-section-container {
        font-size: 2rem;
    }

    #contact-heading-text {
        font-size: 2rem;
    }

    #contact-form {
        display: flex;
        flex-direction: column;
    }

    .form-input-container {
        margin-bottom: 1.5rem;
    }
    
    #footer-section {
        padding: 1.5rem;
    }
}